.daily-planning-box, .sustainable-box {
  padding: 20px;
  text-align: center;
  max-height: var(--page-height);
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 10px;
  width: 300px;
  margin: 40px auto;
}

.daily-planning h2 {
  margin-bottom: 70px;
}

.checkbox-label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to start from the same left side */
  margin: 0 auto; /* Center the container */
}

.daily-planning ul {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}

.daily-planning li {
  margin-bottom: 5px;
}

.daily-planning button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.daily-planning button:hover {
  background-color: #0056b3;
}

.completion-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
  font-size: 20px;
}

.sustainable-checklist-item {
  padding: 1.5rem;
}

.text-and-checkbox {
  font-size: 1.5rem;
}

.item-label {
  padding-left: 1rem;
}