.bottom-bar {
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--green-500);
  color: white;
  padding: 10px;
  font: 1.5rem;
  height: var(--footer-height);
}

.nav-link {
  padding-top: 3px;
  color: white;
}

.nav-link:hover {
  color: coral;
}
