.bottom-bar {
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--green-500);
  color: white;
  padding: 10px;
  font: 1.5rem;
  height: var(--footer-height);
}

.nav-link {
  padding-top: 3px;
  color: white;
}

.nav-link:hover {
  color: coral;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #37ab30;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.bottom-nav-item {
  flex: 1;
  padding: 10px 0;
  text-align: center;
  color: white;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
}

.bottom-nav-item:hover {
  color: white;
}

.bottom-nav-item .material-icons {
  font-size: 24px;
  display: block;
  margin-bottom: 4px;
}

.bottom-nav-item span {
  font-size: 12px;
}

.bottom-nav-item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;
  z-index: -1;
}

.bottom-nav-item:hover::after {
  width: 50px;
  height: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}
