.main-info-container {
  width: 50vw;
  margin: 10px auto;
  background-color: var(--green-600);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 2px 2px 9px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid var(--green-700);
}



.info-circles {
  max-width: 150px;
}