.navbar {
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--green-500);
  color: white;
  padding: 10px;
  font: 1.5rem;
}