@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --nav-height: 7vh;
  --footer-height: 7vh;
  --page-height: calc(100vh - var(--nav-height) - var(--footer-height));

  --green-300: #8ff162;
  --green-400: #5ecb4f;
  --green-500: #37ab30;
  --green-600: #298a22;
  --green-700: #1b6d17;
  --green-800: #0f4f0d;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
}

.page-container {
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
  height: var(--page-height);
  background-color: var(--green-300);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}